/* temperature.css */
.back-button {
    position: absolute;
    top: 20px;
    left: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #213644; 
}
