<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Temperatura</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/view/css/temperatura.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Para gráficos -->
</head>

<body>
    <div class="container">
       

        <button id="back-button" class="btn btn-light">
            <i class="fa fa-chevron-left"></i>
        </button>

        <h1 class="mt-3">Detalhes da Temperatura</h1>
        
        <div id="weather-alerts"></div>

        <!-- Gráficos de Temperatura -->
        <canvas id="temperature-chart" class="my-4" width="400" height="200"></canvas>

        <!-- Previsões Meteorológicas -->
        <h3>Previsões Meteorológicas</h3>
        <div id="weather-forecast" class="mb-4"></div>


        <!-- Alertas de Temperatura -->
        <h3>Alertas de Temperatura</h3>
        <div id="temperature-alerts" class="mb-4"></div>

        <!-- Condições de Saúde -->
        <h3>Condições de Saúde</h3>
        <div id="health-conditions" class="mb-4">
    <p>A seguir, algumas condições de saúde que podem ser afetadas pelas temperaturas:</p>
    <ul id="health-list"></ul>
</div>
    </div>

    <script src="/scripts/temperatura.js"></script>
</body>

</html>